.tweet {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
  width: 49.8vw;
  height: 30vh;
  padding: 10px;
}

.imgProfil {
  height: 8vh;
  width: 5vw;
  border-radius: 250px;
  margin-left: 1.5vw;
  margin-top: 2.5vh;
}

.user-info {
  display: flex;
}

.name {
  color: white;
}

.username {
  color: grey;
}

.data {
  color: grey;
}

.p {
  color: white;
}