.title{
  color:white;
  margin-top: 0px;
  padding: 20px;
}

.textHome{
  justify-content: center;
display: flex;
font-size: 1.2rem;
color: white;
width: 40vw;
height: 35px;
border:none;
outline: none;
border-bottom: 1px solid grey;
background-color: #151D27;
}
