/* Hashtag Page */
.hashtag-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px 15px;
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #1483b7;
}

/* Liste des tweets */
.tweet-list {
  flex-grow: 1;
  background-color: #242526;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
  height: 500px;
  overflow-y: auto;
}

.tweet-list p {
  color: #bbb; 
  text-align: center;
}

.tweet {
  background-color: #3A3B3C;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.tweet p {
  margin: 0;
  font-size: 14px;
}

.hashtags {
  margin-top: 10px;
}

.hashtag {
  background-color: #444;
  color: #1DA1F2;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  margin-right: 5px;
  display: inline-block;
}

/* section des tendances */
.trends-section {
  width: 250px;
  background-color: #242526;
  padding: 20px;
  border-radius: 10px;
}

.trends-section h3 {
  margin-top: 0;
  color: #ddd;
}

.trends-section ul {
  list-style-type: none;
  padding: 0;
}

.trends-section li {
  background-color: #3A3B3C;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #1DA1F2;
  cursor: pointer;
}

.trends-section li:hover {
  background-color: #444;
}